.olitems{color:green;}

#centeralign{text-align:center;}

/*COpied from internet, need to learn*/
.img {
    border: solid grey 5px;
    border-radius: 20px;
    width: 500px;
  }

  *{background-color:beige;}

  .heading{background-color: bisque;}
